.form {
  font-size: var(--smaller-size);
  width: 29.17em;
  border: 1px solid var(--light-grey);
}

.input {
  width: 29.1em;
  height: 5.36em;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-grow: 1;
  font-family: var(--font-family);
}

.input__icon {
  height: 1.5em;
  align-self: center;
  padding: 0 2.1em;
}

.input__label {
  color: var(--grey);
  line-height: 1.16em;
  padding: 0.16em;
}

.input__container {
  max-height: 3.42em;
  padding-left: 2.42em;
  border-left: 1px solid var(--light-grey);
  align-self: center;
}

.input__inputElem {
  margin-top: 2px;
  width: 19em;
  border: 0;
  font-weight: bold;
  line-height: 1.16em;
}

.input__inputElem:focus {
  outline: none;
}

.form--success {
  border-left: 2px solid var(--success);
}

.input__container__inputContainer__header--success {
  color: var(--success);
}

.form--danger {
  border-left: 2px solid var(--danger);
}

.input__label--danger {
  color: var(--danger);
}

.form--warning {
  border-left: 2px solid var(--warning);
}
