.btn {
  --bg: var(--primary);
  --color: var(--white);

  border-radius: 0.33em;
  min-width: 10em;
  min-height: 3.75em;
  color: var(--color);
  font-size: var(--smaller-size);
  font-weight: bold;
  background: var(--bg);
  border: 1px solid var(--border, var(--bg));
  cursor: pointer;
  outline: none;
  transition: background-color 0.05s, border 0.05s, color 0.05s, transform 0.05s;
  transform: scale(1);

  &:hover {
    --bg: var(--primary-light);
  }

  &:focus {
    --bg: var(--primary-light);
  }

  &:active {
    --bg: var(--primary);

    transform: scale(0.97);
    outline: none;
  }

  &:disabled {
    --color: var(--dark-grey);
    --bg: var(--grey);
    --border: var(--grey);

    cursor: not-allowed;
  }

  &:disabled:active {
    transform: scale(1);
  }

  &.btn--transparent {
    --bg: var(--white);
    --color: var(--primary);
    --border: var(--primary);
  }

  &.btn--transparent:hover {
    --color: var(--primary);
    --border: var(--primary);
  }

  &.btn--transparent:focus {
    --color: var(--primary-light);
    --border: var(--primary-light);
  }

  &.btn--transparent:disabled {
    --color: var(--dark-grey);
    --border: var(--dark-grey);
  }

  @each $type in success, danger, warning, info {
    &--#{$type} {
      --bg: var(--#{$type});
    }

    &--#{$type}:hover {
      --bg: var(--#{$type}--light);
    }

    &--#{$type}:focus {
      --bg: var(--#{$type}--light);
    }

    &--#{$type}:active {
      --bg: var(--#{$type});
    }

    //Transparent case

    &--#{$type}.btn--transparent {
      --bg: var(--white);
      --color: var(--#{$type});
      --border: var(--#{$type});
    }

    &--#{$type}:hover.btn--transparent {
      --bg: var(--white);
      --color: var(--#{$type}--light);
      --border: var(--#{$type}--light);
    }

    &--#{$type}:focus.btn--transparent {
      --bg: var(--white);
      --color: var(--#{$type}--light);
      --border: var(--#{$type}--light);
    }

    &--#{$type}:active.btn--transparent {
      --bg: var(--white);
      --color: var(--#{$type});
      --border: var(--#{$type});
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--block {
    display: block;
  }
}
