.roundButton{
  --bg: var(--light-grey);

  height: 3.6em;
  width: 3.6em;
  border-radius: 50%;
  background-color: var(--bg);
  border: 0.1em solid var(--bg);
  outline: none;
  background-image: url(./message.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.roundButton:hover{
  --bg: var(--grey);
}

.roundButton__warning{
  background-image: url(./bell.svg);
}

.roundButton__arrowLeft{
  background-image: url(./arrow-left.svg);
}

.roundButton__arrowRight{
  background-image: url(./arrow-right.svg);
}

.roundButton.roundButton--new{
  background-image: url(./message-danger.svg);
}

.roundButton.roundButton__warning--new{
  background-image: url(./bell-danger.svg);
}

.roundButton.roundButton--new::after, .roundButton.roundButton__warning--new::after{
  position: absolute;
  top:2px;
  content: "";
  height: 0.6em;
  width: 0.6em;
  background-color: #FF5847;
  border-radius: 50%;
  right: 0;
  border: 0.2em solid white;
}