.btnSupport {
  border-radius: 1.71em;
  background-color: var(--white);
  color: var(--blue);
  font-size: var(--regular-size);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 11.64em;
  height: 3.57em;
  box-sizing: border-box;
  transition: transform 0.05s;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  justify-content: space-around;
  transform: scale(1);
}

.btnSupport::before {
  content: '';
  background-image: url('./conversation-white-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.7em;
  min-width: 2.44em;
  min-height: 2.44em;
}

.btnSupport:hover,
.btnSupport:active {
  background-color: var(--light-blue);
}

.btnSupport:active {
  transform: scale(0.97);
}

.btnSupport:hover::before,
.btnSupport:active::before {
  background-image: url('./conversation-blue-white.svg');
}
