.statisticBox {
  --bg: var(--primary);
  --color: var(--white);

  height: 10.5em;
  width: 28.5em;
  font-size: var(--regular-size);
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-weight: bold;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.15);
  transition: background-color 0.05s;
  position: relative;
}

.statisticBox.statisticBox--iconLeft::before,
.statisticBox.statisticBox--iconRight::after {
  position: absolute;
  left: 1em;
  top: 1em;
  height: 3em;
  width: 3em;
  background-color: rgba(255, 255, 255, 0.25);
  background-size: 1.6em;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  content: '';
}

.statisticBox.statisticBox--iconRight::after {
  left: unset;
  right: 1em;
}

.statisticBox.statisticBox:hover {
  --bg: var(--primary-light);
}

.statisticBox.statisticBox--success {
  --bg: var(--success);
}

.statisticBox.statisticBox--success:hover {
  --bg: var(--success-light);
}

.statisticBox.statisticBox--warning {
  --bg: var(--warning);
}

.statisticBox.statisticBox--warning:hover {
  --bg: var(--warning-light);
}

.statisticBox.statisticBox--danger {
  --bg: var(--danger);
}

.statisticBox.statisticBox--danger:hover {
  --bg: var(--danger-light);
}

.statisticBox.statisticBox--info {
  --bg: var(--info);
}

.statisticBox.statisticBox--info:hover {
  --bg: var(--info-light);
}

.statisticBox.statisticBox--purple {
  --bg: var(--dark-purple);
}

.statisticBox.statisticBox--purple:hover {
  --bg: var(--purple);
}

.statisticBox.statisticBox--iconRegistrations::after,
.statisticBox.statisticBox--iconRegistrations::before {
  background-image: url(registrations.svg);
}

.statisticBox.statisticBox--iconPayments::after,
.statisticBox.statisticBox--iconPayments::before {
  background-image: url(payments.svg);
}

.statisticBox.statisticBox--iconRequests::after,
.statisticBox.statisticBox--iconRequests::before {
  background-image: url(requests.svg);
}

.statisticBox .statisticBox__counter {
  height: 1em;
  display: flex;
  justify-content: center;
  font-size: 7em;
  text-shadow: 0.2em 0 0.2em rgba(0, 0, 0, 0.1);
}

.statisticBox .statisticBox__header {
  display: flex;
  justify-content: center;
}
