:root {
  --dark-blue: #3670cd;
  --blue: #0092e8;
  --light-blue: #ddf2ff;

  --dark-green: #24bf57;
  --green: #5bcf81;
  --light-green: #c3f2d2;

  --dark-yellow: #f9c13e;
  --yellow: #fbd16e;
  --light-yellow: #fff4d4;

  --dark-purple: #e33ea5;
  --purple: #e76ab8;
  --light-purple: #f3c0e0;

  --dark-red: #ff5847;
  --red: #ff7a6c;
  --light-red: #ffbcb6;

  --black: #514f4f;
  --dark-grey: #828282;
  --grey: #d5d5d6;
  --light-grey: #f2f2f2;
  --white: #fff;

  --font-base-size: 10px;
  --font-family: '"Robot Regular"', Helvetica, Verdana, sans-serif;
  --regular-size: calc(var(--font-base-size) * 1.4);
  --smaller-size: calc(var(--font-base-size) * 1.2);
  --h1-size: calc(var(--font-base-size) * 2.8);
  --h2-size: calc(var(--font-base-size) * 2);
  --h3-size: var(--regular-size);
  --h4-size: var(--font-base-size);

  --primary: var(--dark-blue);
  --primary-light: var(--blue);
  --success: var(--dark-green);
  --success-light: var(--green);
  --danger: var(--dark-red);
  --danger-light: var(--red);
  --warning: var(--dark-yellow);
  --warning-light: var(--yellow);
  --info: var(--black);
  --info-light: var(--dark-grey);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: var(--font-base-size);
  font-family: var(--font-family);
  color: var(--black);
}

body {
  font-size: var(--regular-size);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

a {
  color: var(--dark-blue);
}

a:hover {
  color: var(--blue);
}

a:active {
  color: var(--blue);
}

a:visited {
  color: var(--dark-blue);
}
